a {
  text-decoration: none;
  color: #c6a7ed;
}

a:hover,
a:active {
  color: #9b79c6;
}

ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 50vh;
  overflow: scroll;
}
